<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GoNode</title>
</head>
<body>
  <form action="/check" method="post">
    <label for="name">Nome:</label>
    <input type="text" name="name" ><br>
    <label for="birthday">Data de nascimento:</label>
    <input type="date" name="birthday" ><br>
    <input type="submit" value="Verificar">
  </form>
</body>
</html>
