<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; line-height: 24px; color: #757575; font-size: 14px; font-family: Verdana, Arial, sans-serif">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; line-height: 16px">
    <p style="text-align: center;">Olá
      <strong style="color: #45568C;">{{displayName}}</strong>, você está recebendo este e-mail para a redefinição de sua
      senha.
    </p>
  </div>
  <p style="text-align: center;">Copie ou clique na
    <strong>URL</strong> abaixo para ser redirecionado ao formulário de redefinição.</p>
  <a href="{{url}}" style="border: 0; padding: 10px; text-align: center; font-size: 1.2em; vertical-align: middle;">
    {{url}}
  </a>
</div>
